@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --base-color: grey;
    --text-color: black ;
    --primary-color:  grey ;
    --secondary-color: #8D8CFF ;
    --color-1 : silver ;
    --color-2 : silver;
    --color-3  : #F6F3F9 ;

}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box ;
}

html{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   color: var(--text-color);

}

body {
    padding: 1rem ;
    background-color: var(--base-color) ;
}

h1 , h2 ,h3 {
    font-family :Bebas Neue'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

nav {
    margin: 1em auto 3em auto ;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center ;
    list-style-type: none ;
    gap: 2em ;
}

nav li:first-child {
    margin-right: auto;
    font-family: Bebas 'Courier New';
    font-weight: bold;
}

nav a {
    text-decoration: none ;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: undrline;
}

header , section {
    margin: 2em auto ;
    width : min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em ;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap : 3em ;
}

header img {
    max-width: 100% ;
    border-radius: 1em ;
    object-fit: cover ;
    object-position : bottom;
}

.text-container {
    flex:0 1 34em ;
}

h1 {
    font-size: 2.5rem ;
}

.text-container p {
    margin: .75em 0 1em 0 ;
    font-size: 1.25rem ;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em ;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--secondary-color);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

section p {
    margin-top: 1em;
    font-size: 1.25rem;
}

section#my-work {
    background-color: var(--color-1);
}

.grid-container {
    margin-top: 3em;
    margin-bottom:  3em;
    display: grid;
    width: 100% ;
    grid-template-columns: repeat(5.2fr);
    grid-template-rows:4fr 10fr ;
    grid-template-areas: 
    "img-12 img-12 img-4 img-5"
    "img-12 img-12 img-8 img-9"
    "img-12 img-12 img-1 img-10";
     gap: 1em ;
}

.grid-container img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease ;
}

.grid-container img:hover {
    scale: 1.05 ;
}
.grid-container2 {
    margin-top: 3em ;
    margin-bottom: 3em;
    display : grid ;
    width: 100%;
    grid-template-columns: repeat(5.2fr);
    grid-template-rows: 4fr 10fr;
    grid-template-areas: 
    "vid-2 vid-2 vid-2 vid-2"
    "vid-2 vid-2 vid-2 vid-2"
    "vid-1 vid-1 vid-1 vid-1"
    "vid-1 vid-1 vid-1 vid-1";
    gap: 1em
}
.grid-container2 video {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container2 video:hover {
    scale: 1.05;
}
details {
    margin-top: 1em;
    background-color: var(--base-color);
    border-radius: 1em;
}

details p {
    padding: 1em;
    font-size: 1.7em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

details p {
    padding: 0 2em 2em 2em ;
}

footer {
    padding-bottom: 1.5em ;
    text-align: center;
}

footer a {
    margin: 0 1em ;
    text-decoration: none ;
    color: var(--text-color)
}

footer a:hover {
    text-decoration: underline ;
}

@media(max-width: 988px) {
    header{
        text-align: center;
    }

    header.text-container {
        padding-top: 0;
    }
}

@media(max-width:640px) {
    nav li {
        display: none;
    }

    nav li:first-child,
    nav li:last-child {
        display: block ;
    }

    header {
        margin-top: 0;
    }

    .cta-button {
        margin-top: .5em;
        width: 100%;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .text-container p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}